@if(!formVisible)
{
<main class="container">

  <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignementBtnClick()">
    <mat-icon>add</mat-icon>
    <span>Ajouter un devoir</span>
  </button>

  <mat-list *ngFor="let a of assignments">
    <mat-list-item (click)="assignmentClique(a)">
      <h3 matListItemTitle> {{a.datedeRendu | date }}</h3>
      <p matListItemLine [ngStyle]="{ color : getColor(a)}">
        {{a.nom}} rendu: {{a.rendu}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <app-assignment-detail (deleteAssignment)="onDeleteAssignment($event)" [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>

</main>
} @else {
  <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignment>
}



